---
import { getCollection } from 'astro:content'
import Tag from '@components/Tag.astro'
const info = await getCollection('aboutme')
const stackItems = await getCollection('techstack') // Make sure 'techstack' is defined in your content/config

---
<section id="about-me">
    <div class="md:max-w-3/4 flex flex-col items-center justify-center p-6 mb-5">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            {info.map((item) => (
                <div class="flex flex-col items-center justify-center">
                    <h3 class="text-xl italic mb-2">{item.data.name}</h3>
                    <p class="text-wrap">{item.body}</p>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <img src={item.data.img} alt={item.data.name + " image"} class="mt-4 min-w-1/4 max-w-1/2 max-h-3/4" />
                </div>
            ))}
        </div>
    </div>
  <div class="relative w-full md:max-w-3/4 max-h-50 px-6 mb-6">
    <div
      id="slider"
      class="flex-wrap flex flex-row gap-4 justify-center"
    >
      {stackItems.map((item) => (
        <div
          onmouseenter={`showDialog("${item.data.name}","${item.data.level}" ,\`${item.body}\`)`}
          onmouseleave="hideDialog()"
          onclick={`showDialog("${item.data.name}","${item.data.level}" ,\`${item.body}\`)`}
        >
          <Tag
            name={item.data.name}
            color={item.data.color ?? 'gray'}
            width="w-32"
            height="h-8"
          />
        </div>
      ))}
    </div>
  </div>
    <dialog
    id="tagDialog"
    class="relative w-full max-w-[70%] p-6 border dark:bg-gray-900 dark:text-white"
    >
    </dialog>
</section>

<style>
    section {
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        width: 100%;
    }

    #tagDialog {
        animation: fadeIn 1s ease-in-out;
        transition: opacity steps(10, end), transform 0.3s ease-in-out;
        backdrop-filter: blur(5px);
        transform: scale(1);
        
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    </style>

<script type="module">
  const dialog = document.getElementById("tagDialog");

  window.showDialog = (title, level, body) => {
    dialog.innerHTML = `
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 align-center">
      <div class="items-center justify-center md:items-start md:justify-start">
        <h3 class="text-lg font-semibold text-center md:text-start">${title}</h3>
      </div>
      <div class="items-center justify-center">
        <p class="text-center">${level}</p>
      </div>
      <div class="items-center justify-center md:items-end md:justify-end">
        <p class="text-center md:text-end">${body}</p>
      </div>
    </div>
    `;
    dialog.show();
  };

  window.hideDialog = () => {
    dialog.close();
  };
</script>